# Dependencias
node_modules/

# Build / compilación
dist/
*.tsbuildinfo

# Cache de MikroORM (TsMorphMetadataProvider)
temp/

# Variables de entorno
.env
.env.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml